<div class="container coasters-index">

  <h1 style="font-weight: 100">{{theCoaster.name}}</h1>

  <h4>Descripción</h4>
  <p>{{theCoaster.description}}</p>
  <p><strong>Longitud: </strong> {{theCoaster.length}}m | <strong>Inversiones: </strong> {{theCoaster.inversions}}</p>

  <hr>
{{#each theCoaster.park}}
  <h5>Parque</h5>
  <p><strong>Nombre</strong>: {{this.name}}</p>
  <p><strong>Descripción</strong>: {{this.description}}</p>
  {{/each}}

  <a href="/coasters" class="btn btn-dark">Volver</a>

</div>